<?xml version="1.0" encoding="UTF-8"?>

<proxy>
      <active />
      <protocol>http</protocol>
      <username>username</username>
      <password>password</password>
      <port>8080</port>
      <host>proxyhost</host>
      <id/>
    </proxy>

<mirror>
      <id>mirror1</id>
      <name>central</name>
      <url>http://repo.maven.apache.org/maven2</url>
</mirror>

<mirror>
      <id>google-maven-central</id>
      <name>Google Maven Central</name>
      <url>http://repo.maven.apache.org/maven2</url>
      <mirrorOf>central</mirrorOf>
</mirror>

<root>
        
</root>
